!
! ~/.Xresources
!
! Vim: set tabstop=4 :

Xft.dpi:                        96
Xft.antialias:                  true
Xft.hinting:                    true
Xft.rgba:                       rgb
Xft.autohint:                   false
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcddefault

Xcursor.theme:                  Breeze
Xcursor.size:                   0

XTerm*background:               #000000
XTerm*foreground:               #E7E7E7
XTerm*cursorColor:              #5675B9
XTerm*cursorBlink:              true
XTerm*faceName:                 Fixed
XTerm*faceSize:                 11
XTerm*pointerColor:             #5675B9
XTerm*pointerColorBackground:   #272B35
XTerm*reverseVideo:             on
XTerm*selectToClipboard:        true

! black
*color0:                        #000000
*color8:                        #272B35
! red
*color1:                        #D00000
*color9:                        #FF4444
! green
*color2:                        #5FAF5F
*color10:                       #00FF5F
! yellow
*color3:                        #AFFF00
*color11:                       #D7D7AF
! blue
*color4:                        #5675B9
*color12:                       #5FAFD7
! magenta
*color5:                        #C755AF
*color13:                       #D700FF
! cyan
*color6:                        #00CCFF
*color14:                       #00FFFF
! white
*color7:                        #EEEEEE
*color15:                       #F5F7FA
